name: Deploy Application to AWS EC2 and setup other tools

on:
  push:
    branches:
      - development
  pull_request:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      
